<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hello World.</h1>

    <h4>
      indal kumar yadav amazone web services database center computation now we
      are serverless computting thigal ingal
    </h4>

    louder taht is since that is somethihng happen now we are that is s
    omethigal happen now indsl instradutthigal data center that is stable thigal
    market suoer saste that ingalmaeket marke tigsl const effective personal
    experiance totally you disagree onplus 7 seven smooth that is something
    Quality you are that is hardware that si sweb personality oyu are p
    Personalit you are aama cost effeict that ingal simialrity you are that is
    sm samular thigla flutter {% block indal %} {% endblock indal %} {% static
    '' %} {% load static %}
  </body>
</html>
