* {
  margin: 0;
}
header {
  position: absolute;
}
header img {
  width: 100%;
  height: 500px;
}
.header {
  color: yellowgreen;
  position: absolute;
}

.indal {
  display: grid;
  place-items: center;
}
