{% extends 'core/base.html' %} {% load static %}
<!-- title -->
{% block title %} login {% endblock title %}
<!-- Custom css -->
{% block css %}
<link rel="stylesheet" href="{% static 'accounts/css/style.css' %}" />
{% endblock css %}
<!-- Content -->
{% block content %}
<h1>Hello Home Page</h1>
<button id="LoginBtn">Click Here</button>

<section class="login_section"></section>

{% endblock content %}

<!-- Custom JS -->

{% block js %}

<script src="{% static 'core/js/main.js' %}"></script>

{% endblock js %}
