* {
  margin: 0;
}

.image_header {
  /* background: url("https://images.pexels.com/photos/853199/pexels-photo-853199.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); */
  width: 100vw;
  background: url(../assets/img/pexels-pixabay-36717.jpg),
    linear-gradient(rgb(236, 26, 26), green);
  height: 100vh;
  background-size: cover;
  background-blend-mode: multiply;
}
.page_header {
  margin-top: 100px;
}
